/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
src/PSL/ClipperBundle/Command/TestCommand.php
app/config/parameters.ymlsrc/PSL/ClipperBundle/Resources/public/images/fwreports-second-orig.png
src/PSL/ClipperBundle/Resources/public/images/fwreports-second.xcf
src/PSL/ClipperBundle/Resources/public/js/ls.js
src/PSL/ClipperBundle/Resources/public/images/fwreports-second-orig.png
src/PSL/ClipperBundle/Resources/public/admin-ui/js/app-config.js
