/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
!web/bundles/pslclipper/zip/.gitkeep
!web/bundles/pslclipper/pdf/.gitkeep
src/PSL/ClipperBundle/Command/TestCommand.php
app/config/parameters.ymlsrc/PSL/ClipperBundle/Resources/public/images/fwreports-second-orig.png
src/PSL/ClipperBundle/Resources/public/images/fwreports-second.xcf
src/PSL/ClipperBundle/Resources/public/js/ls.js
src/PSL/ClipperBundle/Resources/public/images/fwreports-second-orig.png
src/PSL/ClipperBundle/Resources/public/admin-ui/js/app-config.js
app/Resources/users.yml
app/Resources/invoice_whitelist.yml
src/PSL/ClipperBundle/Resources/public/html/
src/PSL/ClipperBundle/Resources/public/pdf/
src/PSL/ClipperBundle/Resources/public/zip/
