{# src/PSL/ClipperBundle/Resources/views/Emails/confirmation.order_complete.client_copy.html.twig #}
{# Email to send to client when order is completed and didn't need to be approved #}
{% extends 'confirmation.base.html.twig' %}

{# Message to user #}
{% block message %}
    <div class="message">
        <span>Message to user saying the order is completed and didn't need to be approved.</span>
    </div>
{% endblock %}
