{# src/PSL/ClipperBundle/Resources/views/Emails/confirmation.order_pending.admin_copy.html.twig #}
{# Email to send to admin when order is placed and is pending #}
{% extends 'confirmation.base.html.twig' %}

{# Message to admin #}
{% block message %}
    <div class="message">
        <span>Message to admin saying the order is place and is pending.</span>
    </div>
{% endblock %}
