{# src/PSL/ClipperBundle/Resources/views/Emails/confirmation.base.html.twig #}
{# Email to send to client when order is approved #}

{# Message to user #}
{% block message %}
    <div class="message">
        <span>Lorum ipsum...</span>
    </div>
{% endblock %}

{# order info #}
{% block salesinfo %}
    <div class="salesinfo">
        {{ include('PSLClipperBundle:Emails:sales_info.html.twig', { 'sales_info': sales_info }) }}
    </div>
{% endblock %}

{# Link to front end UI /dashboard / active orders #}
{% block links %}
    <div class="links">
        <ul>
            <li><a href="#">Link</a></li>
            <li><a href="#">Link</a></li>
        </ul>
    </div>
{% endblock %}
