{# src/PSL/ClipperBundle/Resources/views/Emails/confirmation.order_complete.admin_copy.html.twig #}
{# Email to send to client when order is approved #}
{% extends 'confirmation.base.html.twig' %}

{# Message to admins #}
{% block message %}
    <div class="message">
        <span>Message to admin saying the order is completed and approved.</span>
    </div>
{% endblock %}
