{# src/PSL/ClipperBundle/Resources/views/Emails/confirmation_emails.order_close.html.twig #}
{# Email to client when quota has been reached and the report is ready #}
<h2>Order Close</h2>

<p><strong>To do:</strong> quota has been reached and the report is ready.</p>

<p><a href="{{ link|raw }}">Click here.</a></p>
