{# src/PSL/ClipperBundle/Resources/views/Emails/sales_info.twig #}
{# Template for sale info in email #}

{# Client’s name #}
{# Client’s company #}
{# date #}
{# small order details #}
	{# survey type #}
	{# countries #}
	{# markets #}
{# price #}
{# order id #}
<div>This is sales info.</div>
