body {
  background-color: #CC6633;
  margin: 0px 0px 0px 0px;
}
table.header {
  background-color: #002469;
  width: 760px;
  border: 0px;
}
td.headerlogo1 {
  background-color: #002469;
  vertical-align: top;
  width: 383px;
  text-align: left;
}
td.headerlogo2 {
  background-color: #CC6633;
  vertical-align: top;
  width: 272px;
  text-align: center;
}
table.nav {
  background-image: url('/images/wp/navbar.gif');
  background-repeat: repeat-x;
  width: 760px;
  border: 0px;
  height: 21px;
}
table.container {
  background-color: #FFFFFF;
  width: 769;
  border: 0px;
  margin-right: auto;
  margin-left: auto;
}
td.title {
  background-color: #FFFFFF;
  width: 100%;
}
table.containercell {
  background-color: #FFFFFF;
  width: 100%;
  border: 0;
}
h1 {
  font-size: 18pt;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #CC6633;
  margin: 0px;
}
h2 {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #FFFFFF;
  font-weight: bold;
  margin: 0px;
}
h3 {
  font-size: 10pt;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  color: #000000;
  font-weight: bold;
  margin: 0px;
}
A.header:Link {
  text-decoration: none;
  color: #002469;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}
A.header:Visited {
  text-decoration: none;
  color: #002469;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}
A.header:Active {
  text-decoration: none;
  color: #002469;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}
A.header:Hover {
  text-decoration: underlined;
  color: #002469;
  font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
  font-size: 10pt;
  font-weight: bold;
}
hr {
  color: #CC6633;
  background-color: #CC6633;
  height: 3px;
}
td.footerdivider {
  background-image: url('/images/wp/dotline.gif');;
  background-repeat: repeat-x;
  vertical-align: middle;
  text-align: center;
  width: 760px;
  height: 1px;
}
td.footer {
  background-color: #CC6633;
  vertical-align: middle;
  text-align: center;
  width: 760px;
}
@media print {
  body {
    font-size: 100%;
    width: 100%;
    margin: 0;
    float: none;
    font-family: Times New Roman, Serif;
    color: #000000;
    background: #ffffff;
  }
  table.header {
    display: none;
    width: 100%;
  }
  td.headerlogo1 {
    display: none;
  }
  td.headerlogo2 {
    display: none;
  }
  table.nav {
    display: none;
    width: 100%;
  }
  table.container {
    background-color: #ffffff;
    width: 100%;
  }
  td.title {
    background-color: #ffffff;
    color: #000000;
    width: 100%;
  }
  table.containercell {
    background-color: #ffffff;
    width: 100%;
  }
  h1 {
    font-size: 130%;
    color: #000000;
  }
  h2 {
    font-size: 120%;
    color: #000000;
  }
  h3 {
    font-size: 110%;
    color: #000000;
  }
  A.header:Link {
    display: none;
  }
  A.header:Visited {
    display: none;
  }
  A.header:Active {
    display: none;
  }
  A.header:Hover {
    display: none;
  }
  hr {
    color: #000000;
    background-color: #000000;
    height: 1px;
  }
  td.footerdivider {
    display: none;
    width: 100%;
  }
  td.footer {
    display: none;
    width: 100%;
  }
  td.brand {
    display: none;
  }
  td.two {
    background-color: #ffffff;
  }
  td.one {
    background-color: #ffffff;
  }
  td.error {
    background-color: #ffffff;
  }
  td.three {
    background-color: #ffffff;
  }
  .print_buttons {
    display: none;
  }
  #print_buttons tr {
    display: none;
  }
  div.print_buttons {
    display: none;
  }
  img.print_buttons {
    display: none;
  }
}

@media print {
  td.error {
    background-color: #FFFFFF;
    width: 100%;
  }
  td.one {
    background-color: #FFFFFF;
  }
  A.one:Link {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.one:Visited {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.one:Active {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.one:Hover {
    text-decoration: underlined;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  td.width190 {
    width: 190px;
  }
  td.cardlabel {
    background-color: #FFFFFF;
  }
  td.two {
    background-color: #FFFFFF;
  }
  A.twoinstr:Link {
    text-decoration: underlined;
    color: #000000;
  }
  A.twoinstr:Visited {
    text-decoration: underlined;
    color: #000000;
  }
  A.twoinstr:Active {
    text-decoration: underlined;
    color: #000000;
  }
  A.twoinstr:Hover {
    text-decoration: underlined;
    color: #000000;
  }
  td.three {
    background-color: #CC6633;
    width: 100%;
  }
  A.three:Link {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.three:Visited {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.three:Active {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.three:Hover {
    text-decoration: underlined;
    color: #000000;
    font-family: Verdana, Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 10pt;
  }
  A.brand:Link {
    text-decoration: underlined;
    color: #000000;
  }
  A.brand:Visited {
    text-decoration: underlined;
    color: #000000;
  }
  A.brand:Active {
    text-decoration: underlined;
    color: #000000;
  }
  A.brand:Hover {
    text-decoration: underlined;
    color: #000000;
  }
  td.brand {
    background-color: #FFFFFF;
    vertical-align: top;
    text-align: left;
  }
  img.printonly {
    display: none;
  }
  .hiddenBankDetails {
    display: none;
  }
}