# This file is a "template" of what your parameters.yml file should look like
parameters:
  
  # Database settings
  database_driver:                    pdo_mysql
  database_host:                      [*db_host*]
  database_port:                      ~
  database_name:                      [*db_name*]
  database_user:                      [*db_user*]
  database_password:                  ~
  
  # Mailer settings
  mailer_transport:                   [*mailer_transport*]
  mailer_host:                        [*mailer_user*]
  mailer_user:                        ~
  mailer_password:                    ~
  
  # Locale
  locale:                             [*locale*]
  
  # secret key
  secret:                             [*secret*]
  
  # BigCommerce Settings
  bigcommerce:
    api:
      username:                       [*bigcommerce_api_username*]
      store_url:                      [*bigcommerce_api_store_url*]
      api_key:                        [*bigcommerce_api_api_key*]
    order_status_code_completed:      [*bigcommerce_order_status_code_completed*] # numeric code in bigcommerce for Completed orders
    category_code_firstq:             [*bigcommerce_category_code_firstq*] # numeric code in bigcommerce for FirstQ category
  
  # Clipper settings
  clipper:
    email_ls_results:
      to:                             [*clipper_email_ls_results_to*]
      from:                           [*clipper_email_ls_results_from*]
      subject:                        [*clipper_email_ls_results_subject*]
      body:                           [*clipper_email_ls_results_body*]
    state_codes:
      bigcommerce_pending:            "BIGCOMMERCE_PENDING"
      bigcommerce_complete:           "BIGCOMMERCE_COMPLETE"
      limesurvey_created:             "LIMESURVEY_CREATED"
      rpanel_complete:                "RPANEL_COMPLETE"
      limesurvey_complete:            "LIMESURVEY_COMPLETE"
      email_sent:                     "EMAIL_SENT"
      
  # LimeSurvey settings
  limesurvey:
    api:
      ls_baseurl:                     [*limesurvey_api_ls_baseurl*]
      ls_password:                    [*limesurvey_api_ls_password*]
      ls_user:                        [*limesurvey_api_ls_user*]
    lss:
      dir:                            [*limesurvey_lss_dir*]
      brand_adoption:                 [*limesurvey_lss_brand_adoption*]
    url_destination:                  [*limesurvey_url_destination*]
    url_redirect:                     [*limesurvey_url_redirect*]
    
  # Rpanel
  rpanel:
    user_id:                          [*rpanel_user_id*] # Userid is the user ID of the one created by Guohui for you
    databases:
      rpanel:
        dbname:                       [*rpanel_databases_rpanel_dbname*]
        user:                         [*rpanel_databases_rpanel_user*]
        password:                     [*rpanel_databases_rpanel_password*]
        host:                         [*rpanel_databases_rpanel_host*]
        driver:                       [*rpanel_databases_rpanel_driver*]
      translateapi:
        dbname:                       [*rpanel_databases_translateapi_dbname*]
        user:                         [*rpanel_databases_translateapi_user*]
        password:                     [*rpanel_databases_translateapi_password*]
        host:                         [*rpanel_databases_translateapi_host*]
        driver:                       [*rpanel_databases_translateapi_driver*]
        
# PSL Clipper Configuration
psl_clipper:
  google_spreadsheets:
    client_id :                       [*psl_clipper_google_spreadsheets_client_id*]
    service_account_name :            [*psl_clipper_google_spreadsheets_service_account_name*]
    p12_file_name :                   [*psl_clipper_google_spreadsheets_p12_file_name*]
    spreadsheet_name :                [*psl_clipper_google_spreadsheets_spreadsheet_name*]
    worksheet_name :                  [*psl_clipper_google_spreadsheets_worksheet_name*]

# Monolog
monolog:
    channels:                         [*monolog_channels*]
    
# doctrine
doctrine:
  dbal:
    default_connection:               [*doctrine_dbal_default_connection*]
    connections:
      default:
        dbname:                       [*doctrine_dbal_connections_default_dbname*]
        user:                         [*doctrine_dbal_connections_default_user*]
        password:                     [*doctrine_dbal_connections_default_password*]
        host:                         [*doctrine_dbal_connections_default_host*]
        driver:                       [*doctrine_dbal_connections_default_driver*]
