{# src/Blogger/BlogBundle/Resources/views/maximum.html.twig #}

{% extends 'PPSampleBundle:Clipper:base.html.twig' %}

{% block title %}Thank you{% endblock %}

{% block body %}
<center>
<p class="lead">
  Thanks for completing the survey.
</p>
<small>
  Participant token: {{ token }}.
</small>
<p class="lead">
  <a href="http://habcentral.habcommunity.com/"><img src="http://external.dev.csb.pslgroup.com/remote/som-ad.png" alt=""/></a>
</p>
</center>
{% endblock %}