<p>For each brand, this chart shows the % of doctors in each NPS segment: Detractors, Passives and Promoters.</p>

<p>The rightmost column shows the NPS score, calculated as: % Promoters - % Detractors.</p>

<p>NPS measures overall brand health. The higher the score, the healthier the brand.</p>