{# src/PSL/ClipperBundle/Resources/views/Charts/associate_categories_importance.html.twig #}
{% autoescape false %}
    <!-- START CHART -->
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable({{ dataTable|json_encode() }});
        var count = data.getNumberOfColumns() - 1;
        var attr_count = 5;
        var ques_count = (count / attr_count);

        var options = {
          'title'      : 'What messages are associated with Promoters, Neutrals and Detractors and how important are they?',
          'legend'     : 'none',
          'orientation': 'vertical',
          'lineWidth'  : 1,
          'pointSize'  : 10,
          'series'     : {},
          'intervals'  : { 'style':'bars', 'color': 'red'},
          'colors'     : [],
        };

        var a_set = [
          { 'pointShape': 'triangle', 'color': 'red' },
          { 'pointShape': 'square', 'color': 'darkgrey' },
          { 'pointShape': 'circle', 'color': 'green' },
        ];
        for (i = 0; i < ques_count; i++) {
          options['colors'].push('grey');
          for (y = 0; y < a_set.length; y++) {
            options['series'][Object.keys(options['series']).length] = a_set[y];
          }
        }

        var chart = new google.visualization.LineChart(document.getElementById('{{ chartDivId }}'));
        chart.draw(data, options);
      }
    </script>
    <!--Div that will hold the chart-->
    <div id="{{ chartDivId }}" style="width:800; height:600"></div>
    <!-- END CHART -->
{% endautoescape %}