{% autoescape false %}
<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages' : ['corechart', 'table']});

    </script>
  </head>

  <body>
    {% for chart in charts %}
      {{ chart }}
    {% endfor %}
  </body>
</html>
{% endautoescape %}