{% autoescape false %}
<html>
  <head>
    <style type="text/css" media="screen">
      .slides-number {
        color: #E4560B;
      }
    </style>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">

      // Load the Visualization API and the piechart package.
      google.load('visualization', '1', {'packages' : ['corechart', 'table']});

    </script>
  </head>

  <body>
    {% for chart in charts %}
      <h3 class="slides-number">Slide #{{ loop.index }}</h3>
      {{ chart }}
      <hr/>
    {% endfor %}
  </body>
</html>
{% endautoescape %}