{# src/PSL/ClipperBundle/Resources/views/Charts/net_promoters.html.twig #}
{% autoescape false %}


    <!-- START CHART -->
    <script type="text/javascript">
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = clipper.charts.formatters.NPS_Chart({{ dataTable|json_encode() }});

        var c = new clipper.charts.NPS_Chart('{{ chartDivId }}', null, data);
      }
    </script>
    <!--Div that will hold the chart-->
    <div id="{{ chartDivId }}" style="width:400; height:300"></div>
    <!-- END CHART -->
{% endautoescape %}