{# src/Blogger/BlogBundle/Resources/views/maximum.html.twig #}

{% extends 'PSLClipperBundle:Clipper:base.html.twig' %}

{% block title %}Maximum reached{% endblock %}

{% block body %}
<center>

<!--URL redirect -->
<script type="text/javascript">
  setTimeout(function()
  {
    window.location.href = "{{ url|raw }}";
  }, 3000);

</script>

<p class="lead">
  We have reached the maximum number of participants for this study.
</p>
<p class="lead">
  Your time and responses are very valuable to us. We apologize for this inconvenience.
</p>
<p class="lead">
  <a href="http://habcentral.habcommunity.com/"><img src="http://external.dev.csb.pslgroup.com/remote/som-ad.png" alt=""/></a>
</p>
</center>
{% endblock %}
