{# src/Blogger/BlogBundle/Resources/views/maximum.html.twig #}

{% extends '::base.html.twig' %}

{% block title %}Maximum reached{% endblock %}

{% block body %}
<h1>Maximum reached</h1>
<p class="lead">
  We have reached the maximum number of participants for this study.
</p>
<p class="lead">
  Your time and responses are very valuable to us. We apologize for this inconvenience.
</p>
{% endblock %}