{# src/PP/SampleBundle/Resources/views/Emails/confirmation.base.html.twig #}
{# Email to send to admin when invoice order is pending #}
{% extends 'PPSampleBundle:Emails:confirmation.base.html.twig' %}

{# Message to user #}
{% block message %}
    <div class="message">
        <span>Invoice - order_invoice - admin copy</span>
        <span>Your order is pending upon approval.</span>
    </div>
{% endblock %}

