{#
	Placeholders:
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Appendix' %}

{% block content %}
	<h3>Net Promoter Score® (NPS) - What it is and why it's important</h3>

	<div class="no-break">
		<h3>What is NPS?</h3>

		<p>NPS<sup>1</sup> measures overall brand satisfaction and loyalty by asking one simple question:</p>

		<p><strong>"How likely are you to recommend this brand to a colleague?"</strong></p>

		<p>Responses—given on a scale of 0 (not at all likely) to 10 (extremely likely)—are used to classify doctors into 3 categories:</p>
		<ul>
			<li><strong>Detractors</strong> are those who answer 0 – 6.</li>
			<li><strong>Passives</strong> are those who answer 7 – 8.</li>
			<li><strong>Promoters</strong> are those who answer 9 - 10.</li>
		</ul>

		<p>NPS is simple, easy to calculate, and is a good indicator of brand health.</p>
	</div>
	
	<div class="no-break">
		<h3>How is NPS calculated?</h3>

		<p>NPS is calculated by subtracting the percentage of Detractors from the percentage of Promoters.</p>

		<p>For example, 25% Promoters, 55% Passives and 20% Detractors give you an NPS of +5.</p>
		
		<p>NPS can range from -100 (everybody is a Detractor) to +100 (everybody is a Promoter). The higher the score the healthier the brand.</p>
	</div>

	<h3>Loyalty Score - What it is and why it's important</h3>

	<div class="no-break">
		<h3>What is the Loyalty Score?</h3>
	
		<p>The Loyalty Score measures how loyal doctors are to brands.</p>
	
		<p>It's based on the idea that a) being a brand Promoter is a sign of loyalty, and b) loyalty is strongest when doctors promote one brand exclusively.</p>
	
		<p>By measuring both willingness to recommend and brand exclusivity in one metric, the Loyalty Score adds important insight to NPS.</p>
	</div>

	<div class="no-break">
		<h3>How is the Loyalty Score calculated?</h3>

		<p>The Loyalty Score is calculated per doctor surveyed. Brands are awarded an initial Loyalty Score based on the doctor's NPS classification:</p>

		<ul>
			<li><strong>1</strong> point if the doctor is a <strong>Detractor</strong> (0 – 6 on the recommendation scale).</li>
			<li><strong>2</strong> points if the doctor is a <strong>Passive</strong> (7 – 8 on the recommendation scale).</li>
			<li><strong>3</strong> points if the doctor is a <strong>Promoter</strong> (9 – 10 on the recommendation scale).</li>
		</ul>

		<p>Promoters then earn up to <strong>2 extra points</strong> depending on how many brands they promote.</p>

		<table class="loyaltyscore-howiscalculated" cellpadding="0" cellspacing="0">
			<thead>
				<tr>
					<th># Brands Promoted</th>
					<th>Extra Points Awarded</th>
					<th>Total Loyalty Score</th>
				</tr>
			</thead>
				<tr>
					<td>1</td>
					<td>2 points/1 brand = 2</td>
					<td>3 pts + 2 extra pts = 5</td>
				</tr>
				<tr>
					<td>2</td>
					<td>2 points/2 brands = 1</td>
					<td>3 pts + 1 extra pts = 4</td>
				</tr>
				<tr>
					<td>3</td>
					<td>2 points/3 brands = 0.7</td>
					<td>3 pts + 0.7 extra pts = 3.7</td>
				</tr>
			<tbody>
				
			</tbody>
		</table>

		<p>And so on. Counting extra points, brands are awarded a Loyalty Score of between 3 and 4 for shared Promoters, and the maximum score of 5 for exclusive Promoters.</p>

		<p>Loyalty Scores are then aggregated across all respondents to obtain the mean score for each brand.</p>
	</div>

	<div class="no-break">
		<h3>What does the Loyalty Score mean for my brand?</h3>

		<p>Your brand’s Loyalty Score can range from 1 to 5.</p>

		<p><strong>If you score less than 3.0</strong>, your brand is vulnerable. Doctors are more likely to switch to competing brands.</p>

		<p><strong>If you score more than 4.0</strong>, loyalty to your brand is high. Doctors are less likely to switch to competing brands.</p>
	</div>

	<div class="footnote">
		<p><sup>1</sup> NPS is a customer loyalty metric developed by (and a registered trademark of) Fred Reichheld, Bain & Company, and Satmetrix. It was introduced by Reichheld in his 2003 Harvard Business Review article One Number You Need to Grow.</p>
	</div>
{% endblock %}