{#
	Placeholders:
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Chart 9: What does my brand represent to Promoters and Detractors (by brand)?' %}

{% block content %}
	<p>This chart shows doctors’ answers to the question:</p>

	<p><strong>"How would you summarise in a short phrase of no more than 10 words what this brand means to you?"</strong></p>

	<p>Please note, the answers are verbatim—no changes are made.</p>

{% endblock %}