{#
	Placeholders:
		-chart_datatable
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Chart 7: What is my brand\'s market share among Promoters and Detractors?' %}
{% set chart_type = 'PromVsDetrPromote_Chart' %}

{% block content %}
	<p><span class="highlight-orange">Orange</span> circles show each brand’s market share among Detractors.</p>

	<p><span class="highlight-blue">Blue circles</span> show each brand’s market share among Promoters.</p>

	<p>The value at the bottom of each brand section shows the Promoter share as a % of the Detractor share. This tells you how much more of a brand Promoters prescribe than Detractors.</p>

	{{ include('PPSampleBundle:Charts:chart.html.twig') }}

{% endblock %}