{#
	Placeholders:
		- region
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Chart 8: What brand messages are associated with Promoters, Passives and Detractors (by brand)?' %}

{% block content %}
	<p>The following charts show for each brand, the % of Detractors, Passives and Promoters associated with each of the brand messages in {{ region }}.</p>

	<p>Cell shading highlights the difference between groups. The darker the cell, the higher the percentage of group members associated with that brand message.</p>

	<p>Messages are listed in descending order of importance.</p>

	<p>Importance is determined by calculating the difference in percentage scores for each message between Promoters and Detractors.</p>

	<p>Associating your brand with messages linked to existing Promoters can increase the chances that other doctors will become Promoters.</p>

{% endblock %}