{#
	Placeholders:
		-subsection_number
		-brand
		-chart_datatable
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Chart 8.' ~ subsection_number ~ ': What brand messages are associated with ' ~ brand ~ '?' %}
{% set chart_type = 'PPDBrandMessages_Chart' %}

{% block header %}
	<header class="section-header">
		<h3>{{ section_title|e('html') }}</h3>
	</header>
{% endblock %}

{% block content %}

	{{ include('PPSampleBundle:Charts:chart.html.twig') }}

{% endblock %}