{#
	Placeholders:
#}

{% extends 'PPSampleBundle:Charts:nps_plus/base.html.twig' %}

{% set section_title = 'Table of contents' %}

{% block content %}
	<ul class="table-of-contents">
		<li>Chart 1: Net Promoter Score?</li>
		<li>Chart 2: How loyal are doctors to my brand?</li>
		<li>Chart 3: How satisfied is the market?</li>
		<li>Chart 4: How many other brands are promoted by my Promoters?</li>
		<li>Chart 5: Which other brand is most promoted by my Promoters?</li>
		<li>Chart 6: Which other brands are promoted by my Detractors?</li>
		<li>Chart 7: What is my brand's market share among Promoters and Detractors?</li>
		<li>Chart 8: What brand messages are associated with Promoters, Passives and Detractors (by brand)?</li>
		<li>Chart 9: What does my brand represent to Promoters and Detractors (by brand)?</li>
		<li>Appendix</li>
	</ul>
{% endblock %}